*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #164C45;
}

h1{
    text-decoration: underline;
    /* top: 0; */
    margin: 10px;
}

#board {
    display: flex;
    flex-wrap: wrap;
    background: #008C72;
    /* border: black 1px solid; */
    height: 290px;
    width: 290px;
    justify-content: space-around;
    align-items: center;
}

.square{
    background: black;
    height: 90px;
    width: 90px;
}

.square:hover{
    background: lemonchiffon;
}